/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя*/
  
  --paragraph-color: #353430;
  --large-main-color: #ffc2e6;
  --subtitle-color: #353430;
  --accent-color-corner: #343430;
  --dark-color: #ff0070;
  --accent-color: #343530;
  --primary-font: 'IBM Plex mono';
  --accent-color-body: #ff8bcd;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .small__element {
  display: none;
}


@media (prefers-color-scheme: light) {
  
  :root {
    --paragraph-color: #353430;
    --large-main-color: #ffc2e6;
    --subtitle-color: #353430;
    --accent-color-corner: #343430;
    --dark-color: #ff0070;
    --accent-color: #343530;
    --primary-font: 'IBM Plex mono';
    --accent-color-body: #ff8bcd;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .small__element {
    display: none
  }
}

