/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
 /* background-image: url(../images/cover-image-dark.png);*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--body-background-color);
}

.header {
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  font-family: var(--primary-font);
  padding: var(--main-blok-padding);
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  right: 0;
  border-block-start: 1px solid var(--accent-color-corner);
  border-inline-end: 1px solid var(--accent-color-corner);
  block-size: 24px;
  inline-size: 25px;
  margin-right: 20px;
  margin-block-start: 40px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-block-end: 1px solid var(--accent-color-corner);
  border-inline-start: 1px solid var(--accent-color-corner);
  block-size: 25px;
  bottom: 0;
  inline-size: 25px;
  margin-left: 20px;
  margin-bottom: 20px;

.heading {
  color: var(--large-main-color);
  font-size: var(--large-font-size);
  text-shadow: 4px 4px 0 var(--dark-color);
  line-height: 82.5%;
  font-weight: 700;
  align-self: center;
}

.subtitle {
  font-size: var(--small-font-size);
  font-weight: 700;
  line-height: 23.4px;
  align-self: center;
}

.title-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color-body);
}

.small__element {
  position: absolute;
  color: var(--accent-color);
  font-family: var(--primary-font);
  font-size: var(--small-font-size);
  font-weight: 400;
  line-height: 25px;
  display: flex;
  right: 0;
  margin-block-start: 40px;
  text-align: right;
  margin-right: 48px;
}

.small__element::after {
  content: '';
  position: absolute;
  margin-block-start: 8px;
  margin-inline-start: 10px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__theme-menu {
  display: grid;
}

.header__theme-menu-list {
  gap: 10px;
  display: grid;
}

.header__theme-menu-item {
  max-width: 70px;
  width: 100%;
  padding: 0 4px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  color: var(--accent-color);
  font-size: var(--small-font-size);
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-cub);
  padding: 2px 12px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
  cursor: pointer;
  padding: 2px 12px;
}

.header__theme-menu-button:focus {
  border-inline-end: none;
  border-inline-start: none;
  border-block-start: none;
  padding: 0 13px;
  height: 26px;
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  padding: 0 13px;
  height: 26px;
  border: 1px solid var(--accent-color);
  border-inline-end: none;
  border-inline-start: none;
  border-block-start: none;
}

.page-block {
  padding: var(--page-blok);
  display: grid;
  gap: 20px;
  line-height: 23.4px;
}

.section-title {
  color: var(--accent-color);
  font-size: var(--small-font-size);
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 23.4px;
}

.note-text {
  font-size: var(--small-font-size);
  font-family: var(--primary-font);
}

.main-text {
  color: var(--paragraph-color);
  margin-block-start: 10px;
  font-family: var(--primary-font);
  font-size: var(--small-font-size);
  font-weight: 400;
  line-height: 23.4px;
}

a {
  text-shadow: 2px 2px var(--accent-color-body);
  text-decoration: none;
}

a:focus {
  border: 1px solid var(--paragraph-color);
}

a:hover {
  border: 1px solid var(--paragraph-color);
  border-inline-end: none;
  border-inline-start: none;
  border-block-start: none;
  
}

a:focus-visible {
  inline-size: 97px;
  outline: none;
  border-block-end: 1px solid var(--paragraph-color);
  block-size: 22px;
}

.main__page-block {
  padding: var(--page-blok);
  display: grid;
  gap: 20px;
}

.information__page-block {
  padding: var(--page-blok);
  display: grid;
  grid-column-gap: 20px;
}

.note-text-text {
  font-size: 18px;
  font-weight: 400px;
  line-height: 23.4px;
  font-family: var(--primary-font);
}

.page__block-content {
  padding: var(--page-blok);
  display: grid;
  gap: 10px;
}

.image {
  inline-size: 100%;
  object-fit: cover;
  block-size: 100%;
  object-position: center;
  display: block;
  color: lightgray 50%;
  background-image: no-repeat;
}

.footer {
  padding: var(--main-blok-padding);
  inline-size: 100%;
  display: grid;
  min-block-size: 668px;
  position: relative;
}

.title-end {
  font-family: var(--primary-font);
  color: var(--large-main-color);
  text-shadow: 2px 2px 0 var(--dark-color);
  font-weight: 700;
  line-height: 82.5%;
  align-self: center;
}

.decorated-zone-end::before {
  content: '';
  position: absolute;
  right: 0;
  margin-right: 20px;
  border-block-start: 1px solid var(--accent-color-corner);
  border-inline-end: 1px solid var(--accent-color-corner);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone-end::after {
  content: '';
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  border-block-end: 1px solid var(--accent-color-corner);
  border-inline-start: 1px solid var(--accent-color-corner);
  block-size: 25px;
  inline-size: 25px;
}


@media (width >= 375px) {

  .header {
    min-inline-size: 375px;
    max-inline-size: 100dvw;
    min-block-size: 668px;
    padding: 14px;
    margin-block-start: 12px;
  }

  .heading {
    margin-block-start: 15px;
    min-inline-size: 335px;
    justify-self: start;
    margin-inline-start: -1%;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .subtitle {
    margin-block-end: 35px;
  }

  .decorated-zone::before {
    margin-right: 10px;
    margin-top: 1px;
  }

  .small__element {
    margin-right: 40px;
    margin-top: 1px;
  }

  .decorated-zone::after {
    margin-left: 10px;
  } 

  .header__theme-menu-list {
    justify-self: end;
    align-self: center;
    gap: 15px;
    margin-top: 20px;
    text-align: end;
  }

  .page-block {
    margin-block-start: 16px;
    padding: 10px;
  }

  .main__page-block {
    margin-block-start: 20px;
    padding: 0 10px;
  }

  .main-text {
    margin-block-end: 20px;
  }

  .additional_indentation {
    margin-block-start: 20px;
    margin-block-end: 20px;
  }
  
  .information__page-block {
    margin-block-start: 30px;
    padding: 0 10px;
  }

  .page__block-content {
    margin-block-start: 30px;
    padding: 0 10px;
  }

  .grid-images {
    display: grid;
    gap: 10px;
  }

  .footer {
    min-block-size: 667px;
    margin-block-start: 40px;
    text-align: center;
    justify-content: center;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorated-zone-end::before {
    margin-right: 10px;
    margin-block-start: 10px;
  }

  .decorated-zone-end::after {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .title-end {
    font-size: var(--large-font-size);
  }
}


 @media (width >= 768px) {

  .header {
    min-block-size: 1024px;
    margin-block-start: -20px;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
    margin-inline-start: -2%;
    margin-top: 14%;
  }

  .subtitle {
    width: 49%;
    justify-self: end;
    margin-block-end: 9%;
    margin-top: 15px;
    padding-right: 5px;
    margin-right: 8px;
  }

  .decorated-zone::before{
    margin-right: 18px;
    margin-top: 37px;
  }

  .decorated-zone::after {
    margin-left: 20px;
    margin-bottom: 20px;
  } 

  .small__element {
    margin-right: 48px;
    inset-block-start: 40px;
  }

  .header__theme-menu-list {
    gap: 13px;
    justify-self: end;
    align-self: end;
    margin-block-start: 6%;
    margin-right: 9px;
  }

  .page-block {
    display: grid;
    grid-template-columns: 236px 1fr;
    --page-blok: 0 20px;
    padding: var(--page-blok);
    margin-block-start: 59px;
  }

  .note-text {
    margin-block-start: 20px;
  }

  .main__page-block {
    --page-blok: 0 20px;
    padding: var(--page-blok);
    margin-block-start: 40px;
    gap: 0px;
  }

  .section-title {
    max-inline-size: 236px;
    margin-block-start: 20px;
  }

  .information__page-block {
    --page-blok: 0 20px;
    padding: var(--page-blok);
    display: grid;
    grid-template-columns: 236px 1fr;
    margin-block-start: 40px;
  }
  
  .information-block1 {
    grid-column: 2;
    grid-row: 2;
    margin-top: -70px;
  }

  .information-block2 {
    grid-column: 2;
    grid-row: 3;
    margin-block-start: -4%;
  }

  .information-block3 {
    grid-column: 2;
    grid-row: 4;
    margin-block-start: -4%;
  }

  .information-block4 {
    grid-column: 2;
    grid-row: 5;
    margin-block-start: -4.5%;
  }

  .information-block5 {
    grid-column: 2;
    grid-row: 6;
    margin-block-start: -4%;
  }

  .page__block-content {
    --page-blok: 0 20px;
    padding: var(--page-blok);
    margin-block-start: 40px;
  }

  .note-text-text {
    margin-block-start: 20px;
  }

  .additional_indentation {
    display: block;
    grid-column: 2;
    grid-row: 1;
    height: 23px;
  }

  .grid-images {
    margin-block-start: 10px;
    display: grid;
    gap: 20px; 
    grid-template-areas:
    'sunset sunset food'
    'music reading food'
    'music city city'; 
  }

  .visual-sunset-picture {
    grid-area: sunset;
  }

  .visual-music-picture {
    grid-area: music;
  }

  .visual-food-picture {
    grid-area: food;
  }

  .visual-reading-picture {
    grid-area: reading;
  }

  .visual-city-picture {
    grid-area: city;
  }

  .footer {
    min-block-size: 1024px;
    --main-blok-padding: 20px;
    text-align: center;
    justify-content: center;
    inset-block-start: 20px;
    padding: var(--main-blok-padding);
  }

  .decorated-zone-end::before {
    margin-right: 20px;
    margin-block-start: 20px;
  }

  .decorated-zone-end::after {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .title-end {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}

@media (width >= 1024px) {

  .header {
    min-block-size: 768px;
    margin-block-start: 0px;
    padding: 0 20px;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -2%;
    margin-block-start: 13%;
  }

  .subtitle {
    width: 50%;
    justify-self: end;
    margin-block-end: 8.5%;
    margin-right: 0;
  }

  .decorated-zone::before {
    margin-right: 20px;
    margin-top: 20px;
  }

  .small__element {
    margin-top: -20px;
  }

  .header__theme-menu-list {
    display: flex;
    align-self: start;
    justify-self: center;
    gap: 14px;
    margin-block-start: 20px;
    margin-left: 1%;
  } 

  .page-block {
    grid-template-columns: 315px 1fr;
    margin-block-start: 40px;
  }

  .note-text {
    margin-block-start: 20px;
  }

  .section-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .section-title {
    margin-block-start: 20px;
    max-inline-size: 315px;
  }

  .information__page-block {
    grid-template-columns: 315px 1fr;
  }

  .information-block1 {
    grid-column: 2;
    grid-row: 2;
    margin-top: -45px;
  }

  .information-block2 {
    grid-column: 2;
    grid-row: 3;
    margin-block-start: -3.1%;
  }

  .information-block3 {
    grid-column: 2;
    grid-row: 4;
    margin-block-start: -3.1%;
  }

  .information-block4 {
    grid-column: 2;
    grid-row: 5;
    margin-block-start: -3.1%;
  }

  .information-block5 {
    grid-column: 2;
    grid-row: 6;
    margin-block-start: -3.1%;
  }

  .note-text-text {
    margin-block-start: 20px;
  }

  .additional_indentation {
    display: block;
    grid-column: 2;
    grid-row: 1;
    height: 23px;
  }

  .grid-images {
    margin-block-start: 10px;
    display: grid;
    gap: 20px; 
    grid-template-areas:
    'sunset sunset food'
    'music reading food'
    'music city city';
  }

  .visual-sunset-picture {
    grid-area: sunset;
  }

  .visual-music-picture {
    grid-area: music;
  }

  .visual-food-picture {
    grid-area: food;
  }

  .visual-reading-picture {
    grid-area: reading;
  }

  .visual-city-picture {
    grid-area: city;
  }

  .footer {
    min-block-size: 768px;
  }
  
  .title-end {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}

