/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
.page {
  --main-blok-padding: 20px;
  --primary-font: 'IBM Plex mono', monospace;
  --small-font-size: 18px;
  --page-blok: 20px;
}
